@model Empresa.Models.contador

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>contador</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.contador_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contador_id)
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        <dt>
            @Html.DisplayNameFor(model => model.apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido)
        <dt>
            @Html.DisplayNameFor(model => model.direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        <dt>
            @Html.DisplayNameFor(model => model.contacto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contacto)
    </dl>
</div>
<p>
            @Html.ActionLink("Edit", "Edit", new {
 						contador_id = Model.contador_id 
 						}) |
    @Html.ActionLink("Back to List", "Index")
</p>
 
