@model Empresa.Models.productos

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>productos</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.ProductosID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ProductosID, new {disabled = "disabled" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nombre_producto, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre_producto)
                @Html.ValidationMessageFor(model => model.Nombre_producto)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Precio_unitario, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Precio_unitario)
                @Html.ValidationMessageFor(model => model.Precio_unitario)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Precio_venta_publico, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Precio_venta_publico)
                @Html.ValidationMessageFor(model => model.Precio_venta_publico)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fecha_fabricacion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fecha_fabricacion)
                @Html.ValidationMessageFor(model => model.Fecha_fabricacion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fecha_caducidad, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fecha_caducidad)
                @Html.ValidationMessageFor(model => model.Fecha_caducidad)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Iva, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Iva)
                @Html.ValidationMessageFor(model => model.Iva)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
 
