@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<Empresa.Models.proveedores>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>proveedores</h2>

@using (Html.BeginForm("Index", "proveedores", FormMethod.Get))
{
    <table class="table">
        <tr>
            <td align="left">&nbsp;</td>
            <td>&nbsp;</td>
            <td align="center">
                @Html.DropDownList("SearchField", (IEnumerable<SelectListItem>)ViewData["SearchFields"], new {style = "width:150px;height:33px"})
                @Html.DropDownList("SearchCondition", (IEnumerable<SelectListItem>)ViewData["SearchConditions"], new { style = "width:150px;height:33px" })
                @Html.TextBox("SearchText", ViewData["SearchText"] as String, new { style = "width:100px;height:33px" })
                <input type="submit" value="Search" name="command" class="btn btn-default" />
                <input type="submit" value="Show All" name="command" class="btn btn-default" /> 
            </td>
            <td>&nbsp;</td>
            <td align="right">&nbsp;</td>
        </tr>
        <tr>
            <td align="left">
                @Html.DropDownList("Export", (IEnumerable<SelectListItem>)ViewData["Exports"], new { style = "width:65px;height:33px" })
                <input type="submit" value="Export" name="command" class="btn btn-default" />
            </td>
            <td>&nbsp;</td>
            <td align="center">                
                <input type="submit" value="Add New Record" name="command" class="btn btn-default" />
            </td>
            <td>&nbsp;</td>
            <td align="right">
                @Html.DropDownList("PageSize", (IEnumerable<SelectListItem>)ViewData["PageSizes"], new { style = "width:50px;height:33px" })
                <input type="submit" value="Page Size" name="command" class="btn btn-default" />
            </td>
        </tr>
    </table>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Proveedores I D", "Index", new { sortOrder = ViewData["ProveedoresIDSortParm"], SearchText = ViewData["SearchText"] })
        </th>
        <th>
            @Html.ActionLink("Nombre Empresa", "Index", new { sortOrder = ViewData["Nombre_empresaSortParm"], SearchText = ViewData["SearchText"] })
        </th>
        <th>
            @Html.ActionLink("Direccion", "Index", new { sortOrder = ViewData["DireccionSortParm"], SearchText = ViewData["SearchText"] })
        </th>
        <th>
            @Html.ActionLink("Telefono", "Index", new { sortOrder = ViewData["TelefonoSortParm"], SearchText = ViewData["SearchText"] })
        </th>
        <th>
            @Html.ActionLink("Celular Contacto", "Index", new { sortOrder = ViewData["Celular_contactoSortParm"], SearchText = ViewData["SearchText"] })
        </th>
        <th>
            @Html.ActionLink("Nombre Contacto", "Index", new { sortOrder = ViewData["Nombre_contactoSortParm"], SearchText = ViewData["SearchText"] })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProveedoresID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_empresa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Celular_contacto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_contacto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {
 						ProveedoresID = item.ProveedoresID 
 						}) |
            @Html.ActionLink("Details", "Details", new {
 						ProveedoresID = item.ProveedoresID 
 						}) |
            @Html.ActionLink("Delete", "Delete", new {
 						ProveedoresID = item.ProveedoresID 
 						})
        </td>
    </tr>
}

</table>

<table class="table">
    <tr>
        <td align="center">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewData["CurrentSort"], SearchText = ViewData["SearchText"] }))
        </td>
    </tr>
</table>

 
